@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h2 {
	font-family: var(--font-montserrat-mono);
}
@import url('swiper/css');
@import url('swiper/css/pagination');

//ANIMATIONS

.animationContainer {
	overflow: hidden;
}

@keyframes moveRight {
	from {
		background-position-x: 1200%;
	}
	to {
		background-position-x: 0%;
	}
}
.animation {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: repeat-x;
	background-position-y: 70%;
	animation: moveRight 120s linear infinite;
	background-image: url(../../public/svg/animation/animation.jpg);
	z-index: -30;
}
