@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h2 {
	font-family: var(--font-montserrat-mono);
}
@import url('swiper/css');

//ANIMATIONS

.animationContainer {
	overflow: hidden; /* Hide overflow to prevent horizontal scroll */
}

/* Define animation keyframes */
@keyframes moveRight {
	from {
		background-position-x: 100%;
	}
	to {
		background-position-x: 0%;
	}
}
.animation {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: 200%;
	background-repeat: repeat-x;
	background-position-y: 70%;
}
.animation-back {
	animation: moveRight 3s linear infinite;
	
}
.animation-face {
	animation: moveRight 3.5s linear infinite;
}

/* Define specific styles for each image */
.animation-layer1 {
	z-index: -80; /* Move background to the bottom */
	background-image: url(../../public/svg/animation/animation-background.svg);
}

.animation-layer2 {
	z-index: -79;
	background-image: url(../../public/svg/animation/animation-trees.svg);
}

.animation-layer3 {
	z-index: -78;
	background-image: url(../../public/svg/animation/animation-grass.svg);
}

.animation-layer4 {
	z-index: -77;
	background-image: url(../../public/svg/animation/animation-face.svg);
}
